.calculatorForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div {
    display: flex;
    justify-content: space-between;

    input,
    select {
      width: 50%;
      padding: 5px 5px;
      border: solid 1px gray;
      box-sizing: border-box;
    }
  }

  button {
    border: solid 1px gray;
    padding: 5px 5px;
  }
}
